In [1]:
import xml.etree.ElementTree as ET
import urllib2
from xml.dom import minidom as md
import pandas as pd
from numpy import genfromtxt

In [2]:
#scraping most recent NaNoWriMo contest data using NaNo's API

def getUserHistory(usernames):
    writer = []
    wordcount = []
    winner = []
    list_dics = []
    
    for i in usernames:
        path = "http://nanowrimo.org/wordcount_api/wchistory/" + i
        tree = ET.ElementTree(file=urllib2.urlopen(path))
        root = tree.getroot()
        for child in root:
            date_dic = {}
            if child.tag == "wordcounts":
                day = 1
                for entry in child:
                    date_dic[day] = entry[0].text
                    day = day + 1
                list_dics.append(date_dic)
            else:
                if child.tag == 'uname':
                    writer.append(child.text)
                if child.tag == 'user_wordcount':
                    wordcount.append(child.text)
                if child.tag == 'winner':
                    winner.append(child.text)
            
    df = pd.DataFrame(list_dics)
    df['Writer'] = writer
    df['Word Count'] = wordcount
    df['Winner'] = winner
    df = df[['Writer','Word Count','Winner',1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30]]
    return df

In [3]:
getUserHistory(["nicaless", "souldancer125"])

,Writer,Word Count,Winner,1,2,3,4,5,6,7,...,20,21,22,23,25,26,27,28,29,30
0,Nicaless,24229,false,3497,1132,677,296,456,631,0,...,0,0,0,0,0,0,0,0,10699,0
1,souldancer125,53853,true,0,0,3441,3346,1768,1805,0,...,1975,0,3104,0,2409,6767,2587,1906,0,2566

In [4]:
writers = pd.read_csv('user_names.csv', sep='\n',header=None)

In [5]:
df = getUserHistory(writers[0])

In [9]:
df.head()

,Writer,Word Count,Winner,1,2,3,4,5,6,7,...,20,21,22,23,25,26,27,28,29,30
0,Nicaless,24229,false,3497,1132,677,296,456,631,0,...,0,0,0,0,0,0,0,0,10699,0
1,Rachel B. Moore,50603,true,5885,1760,1771,592,1050,706,4958,...,3820,3110,1519,1850,495,1340,148,1453,0,0
2,abookishbabe,29299,false,28632,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,alexabexis,78800,true,3052,4242,3296,4554,3065,2011,5140,...,0,2029,6000,8160,2400,0,0,1400,8000,502
4,AllYellowFlowers,11000,false,0,520,455,170,204,451,0,...,237,933,0,140,2026,0,437,0,0,787

In [41]:
# get first week num submissions, total wc
fw = df[[1,2,3,4,5,6,7]]
fw = fw.applymap(int)
fw_totalwc = fw.sum(1)
fw_numsub = fw.astype(bool).sum(axis=1)

In [48]:
# get first half num submissions, total wc

fh = df[[1,2,3,4,5,6,7,8,9,10,11,12,13,14]]
fh = fw.applymap(int)
fh_totalwc = fh.sum(1)
fh_numsub = fh.astype(bool).sum(axis=1)

In [49]:
# get second half num submissions, total wc

sh = df[[1,2,3,4,5,6,7,8,9,10,11,12,13,14]]
sh = fw.applymap(int)
sh_totalwc = sh.sum(1)
sh_numsub = sh.astype(bool).sum(axis=1)

In [50]:
df['FW Total'] = fw_totalwc
df['FW Sub'] = fw_numsub
df['FH Total'] = fh_totalwc
df['FH Sub'] = fh_numsub
df['SH Total'] = sh_totalwc
df['SH Sub'] = sh_numsub

In [89]:
df.head()

,Writer,Word Count,Winner,1,2,3,4,5,6,7,...,27,28,29,30,FW Total,FW Sub,FH Total,FH Sub,SH Total,SH Sub
0,Nicaless,24229,false,3497,1132,677,296,456,631,0,...,0,0,10699,0,6689,6,6689,6,6689,6
1,Rachel B. Moore,50603,true,5885,1760,1771,592,1050,706,4958,...,148,1453,0,0,16722,7,16722,7,16722,7
2,abookishbabe,29299,false,28632,0,0,0,0,0,0,...,0,0,0,0,28632,1,28632,1,28632,1
3,alexabexis,78800,true,3052,4242,3296,4554,3065,2011,5140,...,0,1400,8000,502,25360,7,25360,7,25360,7
4,AllYellowFlowers,11000,false,0,520,455,170,204,451,0,...,437,0,0,787,1800,5,1800,5,1800,5

In [112]:
my_df = pd.read_csv("../clean data/user_summary_no2015.csv")
my_df.head()
del my_df['Unnamed: 0']
my_df.head()

my_df['FW Total'] = fw_totalwc
my_df['FW Sub'] = fw_numsub
my_df['FH Total'] = fh_totalwc
my_df['FH Sub'] = fh_numsub
my_df['SH Total'] = sh_totalwc
my_df['SH Sub'] = sh_numsub

In [113]:
my_df.head()

,Writer Name,Member Length,LifetimeWordCount,url,Age,Birthday,Favorite books or authors,Favorite noveling music,Hobbies,Location,...,Expected Max Submission,Expected Max Day,Expected Std Submissions,Expected Consec Subs,FW Total,FW Sub,FH Total,FH Sub,SH Total,SH Sub
0,Nicaless,2,"75,148",http://nanowrimo.org/participants/nicaless,24,December 20,"Ursula Le Guin, J.K.","Classical, Musicals","Reading, Video Games, Blogging, Learning","San Francisco, CA",...,24935.0,28.000000,6235.712933,12.000000,6689,6,6689,6,6689,6
1,Rachel B. Moore,10,"528,693",http://nanowrimo.org/participants/rachel-b-moore,NaN,NaN,"2666, Unaccustomed Earth, Exit Music, Crazy Lo...","Belle and Sebastian, Elliott Smith, PJ Harvey,...","Reading, volunteering, knitting, listening to ...",San Francisco,...,3809.0,9.000000,1002.295167,6.800000,16722,7,16722,7,16722,7
2,abookishbabe,1,"29,299",http://nanowrimo.org/participants/abookishbabe,NaN,April 2,"Colleen Hoover, Veronica Roth, Jennifer Niven,...",Tori Kelley,"Reading (DUH), Day dreaming, Going to Disneyla...","Sacramento, CA",...,NaN,NaN,NaN,NaN,28632,1,28632,1,28632,1
3,alexabexis,11,"554,300",http://nanowrimo.org/participants/alexabexis,NaN,NaN,NaN,Three Goddesses playlist Florence + the Machin...,"drawing, reading, movies & TV shows, comics, p...",New York City,...,2325.0,8.545455,570.626795,8.090909,25360,7,25360,7,25360,7
4,AllYellowFlowers,3,"41,428",http://nanowrimo.org/participants/AllYellowFlo...,NaN,NaN,"Lolita, Jesus' Son, Ask the",the sound of the coffeemaker,cryptozoology,Allston,...,2054.5,4.500000,538.273315,21.000000,1800,5,1800,5,1800,5

In [114]:
my_df['LifetimeWordCount'] = my_df['LifetimeWordCount'].apply(lambda x: int(x.replace(',', '')))
#my_df['2015 Final Count'] = map(int, my_df['2015 Final Count'])

In [115]:
my_df.head()

,Writer Name,Member Length,LifetimeWordCount,url,Age,Birthday,Favorite books or authors,Favorite noveling music,Hobbies,Location,...,Expected Max Submission,Expected Max Day,Expected Std Submissions,Expected Consec Subs,FW Total,FW Sub,FH Total,FH Sub,SH Total,SH Sub
0,Nicaless,2,75148,http://nanowrimo.org/participants/nicaless,24,December 20,"Ursula Le Guin, J.K.","Classical, Musicals","Reading, Video Games, Blogging, Learning","San Francisco, CA",...,24935.0,28.000000,6235.712933,12.000000,6689,6,6689,6,6689,6
1,Rachel B. Moore,10,528693,http://nanowrimo.org/participants/rachel-b-moore,NaN,NaN,"2666, Unaccustomed Earth, Exit Music, Crazy Lo...","Belle and Sebastian, Elliott Smith, PJ Harvey,...","Reading, volunteering, knitting, listening to ...",San Francisco,...,3809.0,9.000000,1002.295167,6.800000,16722,7,16722,7,16722,7
2,abookishbabe,1,29299,http://nanowrimo.org/participants/abookishbabe,NaN,April 2,"Colleen Hoover, Veronica Roth, Jennifer Niven,...",Tori Kelley,"Reading (DUH), Day dreaming, Going to Disneyla...","Sacramento, CA",...,NaN,NaN,NaN,NaN,28632,1,28632,1,28632,1
3,alexabexis,11,554300,http://nanowrimo.org/participants/alexabexis,NaN,NaN,NaN,Three Goddesses playlist Florence + the Machin...,"drawing, reading, movies & TV shows, comics, p...",New York City,...,2325.0,8.545455,570.626795,8.090909,25360,7,25360,7,25360,7
4,AllYellowFlowers,3,41428,http://nanowrimo.org/participants/AllYellowFlo...,NaN,NaN,"Lolita, Jesus' Son, Ask the",the sound of the coffeemaker,cryptozoology,Allston,...,2054.5,4.500000,538.273315,21.000000,1800,5,1800,5,1800,5

In [116]:
my_df['LifetimeWordCount'] = my_df['LifetimeWordCount'] - map(int, df['Word Count'])

In [117]:
my_df.head()

,Writer Name,Member Length,LifetimeWordCount,url,Age,Birthday,Favorite books or authors,Favorite noveling music,Hobbies,Location,...,Expected Max Submission,Expected Max Day,Expected Std Submissions,Expected Consec Subs,FW Total,FW Sub,FH Total,FH Sub,SH Total,SH Sub
0,Nicaless,2,50919,http://nanowrimo.org/participants/nicaless,24,December 20,"Ursula Le Guin, J.K.","Classical, Musicals","Reading, Video Games, Blogging, Learning","San Francisco, CA",...,24935.0,28.000000,6235.712933,12.000000,6689,6,6689,6,6689,6
1,Rachel B. Moore,10,478090,http://nanowrimo.org/participants/rachel-b-moore,NaN,NaN,"2666, Unaccustomed Earth, Exit Music, Crazy Lo...","Belle and Sebastian, Elliott Smith, PJ Harvey,...","Reading, volunteering, knitting, listening to ...",San Francisco,...,3809.0,9.000000,1002.295167,6.800000,16722,7,16722,7,16722,7
2,abookishbabe,1,0,http://nanowrimo.org/participants/abookishbabe,NaN,April 2,"Colleen Hoover, Veronica Roth, Jennifer Niven,...",Tori Kelley,"Reading (DUH), Day dreaming, Going to Disneyla...","Sacramento, CA",...,NaN,NaN,NaN,NaN,28632,1,28632,1,28632,1
3,alexabexis,11,475500,http://nanowrimo.org/participants/alexabexis,NaN,NaN,NaN,Three Goddesses playlist Florence + the Machin...,"drawing, reading, movies & TV shows, comics, p...",New York City,...,2325.0,8.545455,570.626795,8.090909,25360,7,25360,7,25360,7
4,AllYellowFlowers,3,30428,http://nanowrimo.org/participants/AllYellowFlo...,NaN,NaN,"Lolita, Jesus' Son, Ask the",the sound of the coffeemaker,cryptozoology,Allston,...,2054.5,4.500000,538.273315,21.000000,1800,5,1800,5,1800,5

In [118]:
my_df.to_csv("../clean data/user_summary_no2015.csv")